@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

:root {
  --color-primary: #4b9be6;
  --color-primary-light: #6568fa;
  --color-primary-dark: #5643fa;
  --color-secondary-light: #313131;
  --color-secondary-dark: #212121;

  --color-green: #7ed56f;
  --color-orange: #ff7730;
  --color-red: #dd4632;
  
  --color-white: #fff;
  --color-grey-light: #ededed;
  --color-black: #000;

  --default-text-size: 1.6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 64%; 
  }
}